section
  div
    iframe(width="560", height="315", src="https://www.youtube.com/embed/5muEf39sMaQ", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen="")
  div.h2-morelink
    h2 Choco latest
    div.more-link
      a(href="https://naver.com") more
        i.fa-solid.fa-greater-than(style="color: #000000;")
  ul.choco-chart-list
    li
      img.onclick-modal(src="./assets/songs/ive-iam.jpg", alt="")
      h3 I AM
      p IVE
    li
      img(src="./assets/songs/ive-kitsch.jpg", alt="")
      h3 Kitsch
      p IVE
    li
      img(src="./assets/songs/lesserafim-unforgiven.jpg", alt="")
      h3 UNFORGIVEN
      p LE SSERAFIM
    li
      img(src="./assets/songs/jisoo-flower.jpg", alt="")
      h3 꽃(FLOWER)
      p 지수(JISOO)
    li
      img(src="./assets/songs/newjeans-ditto.jpg", alt="")
      h3 Ditto
      p NewJeans
    li
      img(src="./assets/songs/seventeen-super.jpg", alt="")
      h3 손오공(Super)
      p 세븐틴(SEVENTEEN)
