section.choco-chart
  div.h2-morelink
    h2 Choco chart
    div.more-link
      a(href="https://naver.com") more
        i.fa-solid.fa-greater-than(style="color: #000000;")
  ul.choco-chart-list
    li
      img(src="https://imgur.com/a/62iqDOp", alt="")
      h3
