div.logo(onclick="")
  img.logo-img(src="./assets/logo/2023-05-07-_4_.svg", alt="")
nav
  ul
    li
      a(href="#") Home
    li
      a(href="#") Genres
    li
      a(href="#") Artists
    li
      a(href="#") Albums
    li
      a(href="#") Playlists
div.search
  input(type="text", placeholder="Search artist or music...")
  button(onclick="buttonDevelopingAlert();")
    i.fa-solid.fa-magnifying-glass(style="color: #ffffff;")
